body {
    background-color: #F5F5F5;

    font-family: 'Righteous', cursive;
}

header {
    background-color: #766082;
    color: #ffffff;
    padding: 1em;
    clear: left;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.img_header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0;
    border-radius: 5%;
    box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.3);
}

.caracteristicas {
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    bottom: 10%;
}

ul {

    text-align: center;
    color: #000000;
}

li {
    text-align: center;
    list-style: none;

    color: #000000;
}

.barra {
    background-color: #766082;
    color: #ffffff;
    padding: 1em;
    clear: left;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

a.barra {
    color: #ebceff;
    text-decoration: none;
}

p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

.mitologia_img {

    margin-left: 30%;
    display: flex-box;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


    float: inline-start;

    border-radius: 5%;
    box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.3);
    width: 20%;
    height: auto;

}

.info {

    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.izquierda {
    text-align: left;
    color: #5d4c69;
}

.quintoSol_img {
    display: flex-box;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    float: right;
    border-radius: 5%;
    box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.3);
}
.negritas{
    font-weight: bold;
}
.galeria {
    text-align: center;
}